In [24]:
import pandas as pd
df = pd.read_csv('1.csv', sep='\s+', names=["list1", "list2"])

In [25]:
df.head()

   list1  list2
0  69214  60950
1  83241  49638
2  37930  31308
3  50722  94914
4  93164  82798

In [51]:
lst1 = list(df['list1'])
lst2 = list(df['list2'])
lst1.sort()
lst2.sort()

In [ ]:
l1 = [3,4,2,1,3,3]
l2 = [4,3,5,3,9,3]
l1.sort()
l2.sort()

In [ ]:
sum = 0
for (i,j) in zip(lst1, lst2):
    sum += abs(i-j)
sum

1879048

In [54]:
sim_score = 0
for i in lst1:
    freq = 0
    for j in lst2:
        if i>=j and i==j:
            freq += 1
        if j>i:
            break
    sim_score += i*freq

sim_score

21024792